<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="author_mapper">
    <select id="getById" resultMap="author_map">
        SELECT
        a_id as author_id,
        a_name as author_name,

        i_id as item_id,
        i_name as item_name
        FROM
        author A
        LEFT JOIN
        autorship ai
        ON
        ai.autor_id = A.a_id
        LEFT JOIN
        item i
        ON
        i.i_id = ai.item_id
        WHERE
        A.a_id = #{id}
    </select>
    <select id="get" resultMap="author_map">
        SELECT
        *
        FROM author
    </select>
    <delete id="deleteById">
        DELETE FROM author WHERE a_id=#{id}
    </delete>
    <insert id="create">
        INSERT INTO author(a_name) VALUES(#{name})
    </insert>
    <update id="update">
        UPDATE author SET a_name=#{name} WHERE a_id=#{id}
    </update>

    <resultMap id="author_map" type="com.solvd.lab.automation.v2.mybatis.model.Author" autoMapping="false">
        <id property="id" column="author_id"/>
        <result property="name" column="author_name"/>
        <collection property="items" resultMap="item_mapper.ItemResultMap"/>
    </resultMap>
</mapper>
